/* Globales */
.majuscule{
  text-transform: uppercase;
}

.text-grass{
  font-weight: bold;
}

.btn-toggle{
    background-image: green;
    border-radius:50%;
    background-color:#333;
    color:#fff;
    border:1px solid #333;
    margin-top: 70px;
    padding: 20px;
    justify-content: center;
   
    cursor : pointer;
}
body.dark{
    color: #fff !important;
    background:#333!important;
}
body.dark .btn-toggle {
    background: #f1f1f1;
    color:#333;

}
/* @media(prefers-color-scheme: light){
    body{
        background-color:#fff;
        color:#333;
    }
}
@media(prefers-color-scheme: dark){
    body{
        background-color:#333;
        color:#f1f1f1;
    }
} */

.justify_content_center-toggle {
    width: 40px;
    height:60px;
    display:flex;
    align-items: center;
    display:none;
    cursor: pointer;
    
}
.justify_content_center-toggle-icons, .justify_content_center-toggle-icons:before, .justify_content_center-toggle-icons:after{
    content: "";
    display: block;
    width: 100%;
    height: 3px;
    border-radius:5px;
    background: #fff;
    position:relative
}
.justify_content_center-toggle-icons:before{top: 10px}
.justify_content_center-toggle-icons:after{top: -14px}
.is-open .links ul{
    transform:translateY(0);
    

}

/* header{
  background-image:url("imagos\archeo1.PNG");
  background-color: black;
} */

/* Header */

.logo{
  
  width: 100px;
  height: 100px;
}
  /* Styles de la barre de navigation */
  nav {
    background-image: url("images\Amphitheatre dàrles.jpg");
    background-size:cover;
    background-position:center;
    background-repeat:no-repeat;
    padding: 15px 5%;
    border-bottom: 2px solid #eee;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    margin-bottom: 2%;
  }

  /* Style des liens */
  nav a {
    position: relative;
    text-decoration: none;
    color: black;
    padding: 1% 2%;
    font-size: 25px;
    font-weight: normal;
  }

  /* Effet de soulignement au survol */
  nav a::after {
    content: "";
    position: absolute;
    width: 0;
    height: 2px;
    background: black;
    bottom: 0;
    left: 50%;
    /* right: 10%; */
    transition: all 0.3s ease;
    transform: translateX(-50%);
  }

  nav a:hover::after {
    width: 100%;
  }

  /* .dropdown-menu {
    list-style: none;
    padding: 0;
    margin: 0; */
  /* } */

  .nav-link.dropdown-toggle::after {
    display: none !important; /* Désactive le petit triangle ou le soulignement */
  }
  
  .nav-link.dropdown-toggle:hover {
    position: relative;
  }

  .nav-link.dropdown-toggle:hover::before {
    content: "";
    position: absolute;
    width: 100%;
    height: 2px;
    background: black;
    bottom: 0;
    left: 50%;
    transition: all 0.3s ease;
    transform: translateX(-50%);
  }

.lieux {font-size: 18px;
  font-weight: normal;
  padding: 10px 15px;
}


.chronologie {
  margin-right: 5%;
}

.btn_co{
  margin-right: 2%
}

/* Bandeau */

html
.bandeau{
  margin-top: 20px;
  display: flex;
  background-color: rgb(222, 163, 86);
  height: 100px;
  width: 100%;
  /* color: tomato; */
}

.section{

  flex: 1 1 200px;
  /* border-radius: 15px; */
  /* padding: 20px; */
  text-align: center;
  box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1);
  transition: transform 0.2s ease-in-out;

  /* width: 32%; */
  border-right: solid black 1px;
  /* background-color: cadetblue; */
}

.section:hover{
  transform: translateY(-5px)
}
.section a{
  text-decoration: none;
  font-size: 1.2rem;
  font-weight: bold;
  /* color: #333 */


  /* color: inherit; */
}

/* section a:hover{
  color: #007bff;
} */
.voir-plus{
  /* display: flex; */
  /* justify-content: center; */
  text-align: center;
  /* align-items: center; */
  /* background-color: chartreuse; */
  height: auto;
  width: 4%;
}

.btn_transparent{
  padding: 12px 20px;
  font-size: 1em;
  /* border: 2px solid #007bff; */
  /* color: #007bff; */
  /* border-radius: 10px; */
  cursor: pointer;
  transition: all 0.2s ease-in-out;
  text-align: center;


  background-color: transparent;
  /* border: none;
  height: 100%; */


  /* width: 4%; */
  /* background-color: cornflowerblue; */

}

.btn_transparent:hover{
  /* background-color: #007bff; */
  color: #fff;
}

.voirautre{
  text-align: center;
  margin-bottom: 50px;
  margin-top: 50px;
}

.definition-container{
  display: flex;
}
.definition{
  width: 70%;
  padding-left: 2%;
  padding-top: 2%;
  padding-right: 2%;
}

.cartedef{
  width: 30%;
  padding: 2%;
}

/* .video-container{
  margin-left: 5%
} */

.texte-video{
  text-align: center;
  }
 

.evenement{
  width: auto;
  height: 100%;
  /* padding: 2%; */
  background-color: rgb(222, 163, 86);

}

.separation{
  border: solid black 0.5px;
  margin : 5% 10%;
}

.carousel-container {
  width: 70%;
  margin: 0 auto;
  margin-bottom: 50px;
}

.titre-carousel{
  text-align: center;
  margin-bottom: 50px;
  margin-top: 50px;
  font-size: 30px;
}

/* .outil-contenaire {
  width: 70%;
  margin: 0 auto;
} */

.titre-outil{
  text-align: center;
  margin-bottom: 50px;
  margin-top: 50px;
  font-size: 30px;
}

.outil{
  width: 70%;
  margin: 0 auto;
}
/* 
.carte{
  margin-left: 20px;
} */

.article-contenaire{
  margin: 5%;
  
}


.article{
  display: flex;
  padding-top: 40px;

}

.image{
  width: 50%;
}

.texte{
  margin-left: 2%;
}





  
  /* Responsivité pour les petits écrans */
  @media (max-width: 768px) {
    nav {
      justify-content: center; /* Centre la navigation sur mobile */
    }
    
    nav a {
      font-size: 16px;
      padding: 8px 10px;
    }
  }

